@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@400;700&family=Sora:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  /* Fonts */
  --font-heading: "Antonio", sans-serif;
  --font-body: "Sora", sans-serif;

  /* Colors (Branded Naming) */
  --color-racing: #004225;
  --color-seagreen: #018D45;
  --color-gunmetal: #2C3539;
  --color-night: #121212;
  --color-seasalt: #FAFAFA;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  html {
    @apply font-body;
  }

  body {
    @apply bg-seasalt text-gunmetal antialiased;
  }
}