<!-- About Section -->
<div id="about" class="bg-gray-50 dark:bg-neutral-900 py-10 md:py-20">
  <div class="px-4 sm:px-6 lg:px-8 max-w-[96vw] mx-auto">
    <!-- Grid -->
    <div class="grid grid-cols-1 md:grid-cols-2 md:items-center gap-10">
      
      <!-- Image -->
      <div class="relative h-80 md:h-150 bg-gray-100 rounded-2xl dark:bg-neutral-800 md:order-2">
        <img
          class="absolute inset-0 size-full object-cover rounded-2xl"
          src="/media/about-stats.webp"
          alt="Testimonials and stats about JRAF.w"
        />
      </div>
      
      <!-- Text Content -->
      <div class="pt-10 md:p-10 md:order-1 transition-colors duration-300">
        <div class="max-w-4xl mx-auto">
          <h2 class="text-2xl sm:text-3xl lg:text-4xl font-bold text-seagreen mb-4">
            About
          </h2>
          <p class="text-base sm:text-lg mb-6 text-seasalt">
            JRAF.w was founded to bridge the gap between web development and modern digital marketing — two fields often treated separately but equally vital for business success. Whether working with expert marketing teams or professionals seeking a powerful web presence, both a technically solid website and a data-driven marketing strategy are essential to drive real results.
          </p>
          <p class="text-base sm:text-lg text-seasalt">
            By specializing in web development tailored to modern digital marketing needs — including SEO-friendly sites, landing pages, funnels, and advanced tracking — we deliver solutions designed for measurable growth. The focus is on functionality, scalability, and clean data attribution, ensuring marketing efforts are supported by reliable, high-performance systems.
          </p>
        </div>
      </div>
      <!-- End Text Content -->
      
    </div>
    <!-- End Grid -->
  </div>
</div>
<!-- End About Section -->