<!-- Contact -->
<div id="contact" class="max-w-[96vw] px-4 sm:px-6 lg:px-8 py-12 lg:py-24 mx-auto">
  <div class="mb-6 sm:mb-10 max-w-2xl text-center mx-auto">
    <h2 class="font-heading font-bold text-racing text-2xl sm:text-4xl ">
      Let's build something that works.
    </h2>
    <p class="mt-6 text-lg">
      Reach out for tailored web solutions, agency partnerships, or consulting support.
 We respond fast
    </p>
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-2 lg:items-center gap-6 md:gap-8 lg:gap-12">
    <div class="aspect-w-16 aspect-h-6 lg:aspect-h-14 overflow-hidden bg-gray-100 rounded-2xl dark:bg-neutral-800">
      <img class="group-hover:scale-105 group-focus:scale-105 transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="/media/contact-us.webp" alt="laptop with contact form" />
    </div>
    <!-- End Col -->

    <div class="space-y-8 lg:space-y-16">
      <script src="https://js.hsforms.net/forms/embed/50106977.js" defer></script>
<div class="hs-form-frame" data-region="na1" data-form-id="a2a8c415-ada6-4966-8235-81c1a3621f5f" data-portal-id="50106977"></div>
    </div>
    <!-- End Col -->
  </div>
</div>
<!-- End Contact -->
